<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>LoginSuccess!</title>
    <!-- BOTH CSS FILES FROM BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="LoginSuccess">
<h1>LoginSuccess!</h1>
</body>
</html>